.hero__container {
  background-color: #fff;
}

.hero {
  display: flex;
  align-items: center;
  padding: 0 1.5rem 9.5rem;
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

.hero__col__left {
  width: 55%;
  padding-right: 1rem;
}

.hero__col__right {
  width: 40%;
}

.hero__col__right img {
  width: 173%;
}

.hero__title {
  font-size: 5rem;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: -2px;
  color: #34313d;
  margin-bottom: 1rem;
}

.hero__text {
  font-size: 1.375rem;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #9e9aa8;
  margin-bottom: 2.375rem;
  max-width: 540px;
}

.hero .btn {
  padding: 0.875rem 2.5rem;
}

@media screen and (max-width: 738px) {
  .hero {
    flex-direction: column-reverse;
    padding: 0 1.5rem 4.5rem;
    text-align: center;
  }

  .hero__col__left,
  .hero__col__right {
    width: 100%;
  }

  .hero__col__left {
    margin-bottom: 5.375rem;
  }

  .hero__col__right {
    margin-bottom: 2.3125rem;
  }

  .hero__col__right img {
    width: 100%;
  }

  .hero__title {
    font-size: 2.625rem;
    line-height: 48px;
    letter-spacing: -1.05px;
  }

  .hero__text {
    margin: 0 auto 2rem;
    font-size: 1.125rem;
    line-height: 30px;
    letter-spacing: 0.1227px;
  }
}
