.url__container {
  background-image: url('../../assets/images/bg-shorten-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #3a3054;
  border-radius: 10px;
  padding: 3.25rem 1rem;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5rem;
  left: auto;
  right: auto;
  width: 97%;
  max-width: 1440px;
}

.input__container {
  width: 100%;
  max-width: 769px;
  margin-right: 1.5rem;
}

.url__wrapper {
  margin-bottom: 7.5rem;
}

.url__text {
  font-size: 1.25rem;
  letter-spacing: 0.15px;
  color: #34313d;
  padding: 0.875rem 2rem;
  width: 100%;
  max-width: 769px;
  margin-right: 1.5rem;
  border-radius: 10px;
  border: 3px solid transparent;
}

.url__error {
  color: #f46363;
  border-color: #f46363;
}

.url__text::placeholder {
  color: #34313d;
  opacity: 0.5;
}

.text__error::placeholder {
  color: #f46363;
  opacity: 0.5;
}

.short__urls {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  max-height: 300px;
}

.btn__shorten {
  padding: 0.8rem 2.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 10px;
  color: #fff;
}

.short__url {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  margin: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.25rem;
  letter-spacing: 0.15px;
}

.short__url__container {
  display: flex;
  align-items: center;
}

.btn__copy {
  margin-left: 1.5rem;
  padding: 0.625rem 2rem;
  border-radius: 5px;
}

.btn__copied {
  background-color: #3a3054;
  border: none;
  color: #fff;
}

.url__long {
  color: #34313d;
}

.url__short {
  color: #2bd0d0;
}

.error__message {
  color: #f46363;
  font-size: 1rem;
  margin-top: 0.25rem;
  position: absolute;
  font-style: italic;
}

@media screen and (max-width: 738px) {
  .url__container {
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    top: -6rem;
    width: 93%;
  }
  .input__container {
    margin-right: 0;
  }

  .url__wrapper {
    margin-bottom: 3rem;
  }

  .error__message {
    top: 3.95rem;
    font-size: 0.75rem;
    letter-spacing: 0.0818182px;
  }

  .url__text {
    margin-right: 0;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    padding: 0.375rem 1rem;
  }

  .url__long {
    border-bottom: 1px solid hsla(257, 7%, 63%, 0.25);
    width: 100%;
    padding-bottom: 1rem;
  }

  .short__url__container {
    padding-top: 1rem;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .short__url {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }

  .short__urls {
    max-height: 600px;
  }

  .url__short {
    margin-bottom: 1rem;
  }

  .btn__shorten {
    width: 100%;
    font-size: 1.125rem;
    padding: 0.625rem 1.5rem;
  }

  .btn__copy {
    width: 100%;
    margin-left: 0;
  }
}
